@font-face {
  font-family: Japonese;
  src: url(../fonts/Japanese.ttf);
}

@font-face {
  font-family: go3v2;
  src: url(../fonts/go3v2.ttf);
}

@font-face {
  font-family: Midorima;
  src: url(../fonts/Midorima.ttf);
}

body {
  background-image: linear-gradient(to top, #ecf1f4 0%, #fefefe 100%);

  -webkit-box-shadow: inset 0px 0px 122px -83px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 122px -83px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 122px -83px rgba(0, 0, 0, 0.75);
}


/*Encabezado*/
.navTop {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-image: linear-gradient(to right, #e41c38 0%, #ff0800 100%);
  border-bottom: rgb(78, 31, 31) 0.4em solid;

  -webkit-box-shadow: inset 0px 0px 185px -83px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 185px -83px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 185px -83px rgba(0, 0, 0, 0.75);
}

.encabezado {
  text-align: center;
  margin: 0;
  padding: 0;
}

.encabezado a img {
  width: 300px;
  filter: drop-shadow(6px 3px 4px black);
}

/*NavBar*/

.navPages {
  font-family: go3v2;
  font-size: 120%;
  font-weight: bold;
  color: rgb(24, 23, 23);
}

.navbar-nav li :hover {
  color: #f5e5e5;
}

/*Secciones*/
.sectionType1 {
  background-image: linear-gradient(to right, #ff0022 0%, #ff0800 100%);

  -webkit-box-shadow: inset 0px 0px 185px -83px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 185px -83px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 185px -83px rgba(0, 0, 0, 0.75);
}


@media (max-width: 1400px) {
  .imgLogo {
    margin-top: 1.2%;
    margin-bottom: 0;
    padding: 0;
  }

  #perfil-pages {
    width: 10%;
    padding: 0;
  }

  .iniciarSesion {
    width: 100%;
    margin-left: 3%;
    color: #000000;
    font-family: go3v2;
    font-weight: 600;
  }

  .dropdown-menu {
    background-image: linear-gradient(to right, #ff0022 0%, #ff0800 100%);
    border: 2px solid black;
  }

  .dropdown-menu li a {
    font-family: go3v2;
    font-size: 120%;
    font-weight: 600;
    color: rgb(24, 23, 23);
  }

  .dropdown-menu :hover {
    background-image: linear-gradient(to right, #43191fb1 0%, #2e0909bb 100%);
  }

  /*Inicio de sesion y registro modals*/

  .modal-content {
    border-radius: 4%;

    background-image: radial-gradient(circle 860px at 11.8% 33.5%,
        rgba(240, 30, 92, 1) 0%,
        rgba(244, 49, 74, 1) 30.5%,
        rgba(249, 75, 37, 1) 56.1%,
        rgba(250, 88, 19, 1) 75.6%,
        rgba(253, 102, 2, 1) 100.2%);

    -webkit-box-shadow: inset 0px 0px 117px -23px rgba(71, 71, 71, 1);
    -moz-box-shadow: inset 0px 0px 117px -23px rgba(71, 71, 71, 1);
    box-shadow: inset 0px 0px 117px -23px rgba(71, 71, 71, 1);
  }

  .btn-close {
    margin: 3%;
    padding: 0;
  }

  .modal-content img {
    width: 16%;
    opacity: 85%;
    filter: drop-shadow(0px 0px 15px rgb(255, 255, 255));
  }

  .modalTitle h1 {
    color: #220707;
    padding-top: 4%;

    font-weight: 700;
    font-family: go3v2;

    filter: drop-shadow(0px 0px 7px rgb(255, 255, 255));
  }

  .camposForm label {
    color: #e2ebf0;
    font-family: go3v2;
    font-weight: 400;
    font-size: 130%;
    color: #220707;

    width: 70%;
  }

  .camposForm label input {
    font-family: impact;
    color: rgb(0, 0, 0);
    background-color: #ffffffe7;
  }

  .modalFooter {
    text-align: center;
    margin: 3%;
  }

  .modalFooter a {
    color: #211f1f;
    font-size: 110%;
    font-weight: 700;
    margin: 5%;
  }

  .modalFooter button {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #000000;

    font-family: go3v2;
    font-weight: 500;

    border: 4px black;

    -webkit-box-shadow: inset 0px 0px 92px -47px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 92px -47px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 92px -47px rgba(0, 0, 0, 0.75);
  }

  /*Boton volver arriba*/

  .return {
    position: fixed !important;
    border-radius: 100%;

    left: 96.2%;
    bottom: 2%;
  }

  .return a :hover {
    color: #afa409;
  }

  .return a {
    color: rgb(0, 0, 0);
  }

  .return a svg {
    filter: drop-shadow(2px 2px 6px rgb(247, 111, 0));
  }

  /*Footer*/

  footer {
    background-image: linear-gradient(to top,
        #1f1717 0%,
        #c62f2f 50%,
        hsl(0, 100%, 50%) 100%);
    border-top: 5px black solid;
  }

  .descriFooter h5 {
    color: rgb(244, 230, 230);
    font-size: 17px;
    font-weight: 500;
    text-align: left;

    margin: 4%;
  }

  .descriFooter h3 {
    color: rgb(249, 234, 234);
    font-size: larger;
    font-weight: 900;
    text-align: left;

    margin: 4%;
  }

  footer .container {
    text-align: center;
  }

  footer div img {
    width: 10%;
    filter: drop-shadow(1px 1px 4px black);
  }

  .iconsFooter {
    justify-content: center;
  }

  .iconsFooter a {
    margin: 1%;
  }

  .iconsFooter a img {
    width: 4%;
    margin-bottom: 5%;
  }

  .descriFooter h5 {
    color: rgb(244, 230, 230);
    font-size: 120%;
    font-weight: 600;
    text-align: left;
  }

  .descriFooter h3 {
    color: rgb(249, 234, 234);
    font-size: 140%;
    font-weight: 900;
    text-align: left;
  }

  footer .container {
    text-align: center;
  }

  .iconsFooter {
    justify-content: center;
    margin: 0%;
  }

  .iconsFooter a {
    margin: 1%;
  }

  .iconsFooter a img {
    width: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .iconsFooter a :hover {
    width: 3.5%;
  }

  .conactoFooterContainer {
    display: flex;
    justify-content: space-around;
    padding-left: 18%;
  }

  .contactanosFooter {
    color: #e2ebf0;
    padding-top: 0%;
    font-size: 120%;
    font-weight: 500;
    font-family: Midorima;
  }

  .conactoFooter {
    display: flex;
  }

  .conactoFooter h3 {
    font-size: 100%;
    font-family: Midorima;
    font-weight: 400;
    color: #e2ebf0;
  }

  .conactoFooter h4 {
    font-size: 110%;
    font-weight: 700;
    padding-top: 3%;
    color: #e2ebf0;
  }

  .conactoFooter img {
    width: 10%;
    margin: 1%;
  }
}


@media (max-width: 767.98px) {
  .imgLogo {
    margin-top: 3%;
  }

  .dropdown-menu li a {
    padding-left: 15%;
  }

  .modal {
    padding: 10%;
  }

  /*NavNar*/
  .encabezado a .imgLogo {
    width: 50%;
  }

  .nav_icon {
    position: absolute;
    bottom: 100%;
    left: 5%;
    border: 2px solid #000000;
    background-image: linear-gradient(to right, #e41c38 0%, #cb322d 100%);
  }

  #offcanvasExample {
    width: 50%;
    text-align: center;

    opacity: 90%;

    background-image: linear-gradient(to right, #e41c38 0%, #ff0800 100%);
    border-bottom: rgb(78, 31, 31) 0.4em solid;

    -webkit-box-shadow: inset 0px 0px 200px -83px #ffffff;
    -moz-box-shadow: inset 0px 0px 200px -83px rgb(255, 255, 255);
    box-shadow: inset 0px 0px 130px -83px rgb(255, 255, 255);
  }

  .return {
    position: sticky;
    left: 87%;
    bottom: 2%;
  }

  .iniciarSesion {
    color: #e2ebf0;
  }

  .modal-content img {
    width: 26%;
  }

  .modalTitle h1 {
    color: #220707;
    padding-top: 3%;
  }

  .camposForm label {
    padding: 0;
    width: 90%;
  }

  .modalFooter {
    text-align: center;
    margin: 5%;
    padding: 0;
  }

  .modalFooter button {
    margin: 6%;
  }

}