@font-face {
  font-family: Japonese;
  src:url(../fonts/Japanese.ttf);
}

@font-face {
  font-family: go3v2;
  src:url(../fonts/go3v2.ttf);
}

@font-face {
  font-family: Midorima;
  src:url(../fonts/Midorima.ttf);
}

body {
  background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
}

/*Boton volver arriba*/

.return{
  position: fixed !important;
  border-radius: 100%;

  left: 96.2%;
  bottom: 2%;
}

.return a :hover{
  color: #afa409;
}

.return a {
  color: rgb(0, 0, 0);
}

.return a svg{
  filter: drop-shadow(2px 2px 6px rgb(247, 111, 0));
}


footer{
  background-image: linear-gradient(to top, #1f1717 0%, #c62f2f 50%, hsl(0, 100%, 50%) 100%);
  border-top: 5px black solid;
}

.descriFooter h5{
  color: rgb(244, 230, 230);
  font-size: 17px;
  font-weight: 500;
  text-align: left;

  margin: 4%;
}
.descriFooter h3{
  color: rgb(249, 234, 234);
  font-size:larger;
  font-weight: 900;
  text-align: left;

  margin: 4%;
}

footer .container{
  text-align: center;
}

footer div img{
  width: 10%;
  filter: drop-shadow(1px 1px 4px black);
}

.iconsFooter{
  justify-content: center;
}

.iconsFooter a{
  margin: 1%;
}

.iconsFooter a img{
  width: 4%;
  margin-bottom: 5%;
}
