@font-face {
  font-family: Japonese;
  src:url(../fonts/Japanese.ttf);
}

@font-face {
  font-family: go3v2;
  src: url(../fonts/go3v2.ttf);
}

@font-face {
  font-family: Midorima;
  src:url(../fonts/Midorima.ttf);
}

body {
  background-image: linear-gradient(to right, #a5aeb4 0%, #a0a7ac 100%);
}

footer{
  background-image: linear-gradient(to top, #221717 0%, #9e4c4c 50%, hsl(0, 66%, 44%) 100%);
}

.descriFooter h5{
  color: rgb(199, 195, 195);
  font-size: 17px;
  font-weight: 500;
  text-align: left;

  margin: 4%;
}
.descriFooter h3{
  color: rgb(223, 222, 222);
  font-size:larger;
  font-weight: 900;
  text-align: left;

  margin: 4%;
}

footer .container{
  text-align: center;
}

footer div img{
  width: 10%;
}

.iconsFooter{
  justify-content: center;
}

.iconsFooter a{
  margin: 1%;
}

.iconsFooter a img{
  width: 4%;
  margin-bottom: 5%;
}

@media (max-width: 767.98px){

  /*NavNar*/

  #offcanvasExample{
    width: 50%;
    text-align: center;

    background-image: linear-gradient(to right, #e41c38 0%, #ff0800 100%);
    border-bottom: rgb(78, 31, 31) 0.4em solid;
  
    -webkit-box-shadow: inset 0px 0px 185px -83px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 185px -83px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 185px -83px rgba(0, 0, 0, 0.75);
  }

  .jbDesing{
    width: 70%;
  }

/*Packs*/

.sectionPacks{
  padding-bottom: 10%;
}

.packsTitle h1 {
  font-family: Midorima;
  color: #e2ebf0;
  filter: drop-shadow(2px 2px 3px black);
}

.packsTitle h3 {
  font-family: go3v2;
  color: #e2ebf0;
  filter: drop-shadow(2px 2px 3px black);
}

.imgPackContainer{
  display: inline;
  text-align: center;
  width: 100%;
}

.imgPacks1 {
  border-radius: 3%;

  opacity: 90%;

  -webkit-box-shadow: 2px 8px 15px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 8px 15px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 8px 15px -1px rgba(0, 0, 0, 0.75);
}

.imgPacks2 {
  width: 80%;
  border-radius: 3%;
  opacity: 90%;

  -webkit-box-shadow: 2px 8px 15px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 8px 15px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 8px 15px -1px rgba(0, 0, 0, 0.75);
}

/*Cars - info sobre nosotros*/

  .presentacion h1{
    font-size:x-large;
  }

  .conoceTitulo h1 {
    font-size: 250%;
  }
  
  .conoceTitulo h4 {
    font-size: 150%;
    filter:drop-shadow(1px 2px 1px black);
  }
  
  .tarjetas{
    display: inline;
    align-items: center;
  }

  .card {
    margin: 0% 5% 7% 4%;
    width: 100%;
    border-radius: 4%;
  }
  
  .imgConoce {
    width: 30%;
  }
  
  .imgConoce img {
    padding: 10%;
  }
  
  .card-title {
    font-size: 200%;
  }
  
  .card-text {
    font-size: 140%;
    padding-top: 2%;
    margin: 0;
  }
  
  .card a {
    margin: 0;
    font-size: 180%;
  }
  
}

/*Encabezado*/
.navTop {
  background-image: linear-gradient(to right, #e41c38 0%, #ff0800 100%);
  border-bottom: rgb(78, 31, 31) 0.4em solid;


  -webkit-box-shadow: inset 0px 0px 185px -83px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 185px -83px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 185px -83px rgba(0, 0, 0, 0.75);
}

.encabezado {
  text-align: center;
  margin: 0;
  padding: 0;
}

.encabezado a img{
    width: 300px;
    padding-top: 2%;
    filter: drop-shadow(6px 3px 4px black);
}

/*NavBar*/

.navPages {
  font-family: go3v2;
  font-size: 120%;
  font-weight: bold;
  color: rgb(24, 23, 23);
}

.navbar-nav li :hover {
  color: #f5e5e5;
}

/*Secciones*/
.sectionType1 {
  background-image: linear-gradient(to right, #e41c37c0 0%, #ff0800bd 100%);

  -webkit-box-shadow: inset 0px 0px 185px -83px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 185px -83px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 185px -83px rgba(0, 0, 0, 0.75);
}

.sectionType2 {
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: linear-gradient(to right, #e6e9f0 0%, #eef1f5 100%);
  fill-opacity: 30%;

  -webkit-box-shadow: inset 0px 0px 122px -83px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 122px -83px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 122px -83px rgba(0, 0, 0, 0.75);
}
